{
    # name of functions, and which ones to explore
    "functions": {
    },

    # if true, anything address containing ADD_BP #x will get extracted as a function
    # may yield false positives
    "auto_detect_functions": true,

    # if true, for every source code line, prepend with a comment line containing the opcode
    "opcodes_in_functions": true,

    # dump the opcodes from these addreses (until next function starts)
    # otherwise a mem dump will happen instead
    "opcode_dump": [],

    "global_variables": {
        "477": "dir_counter"
    },

    "local_variables": {
        "10": "tmp"
    },

    # addr -> addr   overriding target address of jump if it can't be determined correctly
    "override_target_address": {
    },
    # addr -> [bool-array] with possible outcomes of a jump condition check
    "override_jump_conditions": {
    }

}
